<div class="center">
    <h1>Delete Team</h1>
</div>

<h2>Are you sure you want to delete {{team.title}}?</h2>
<form action="/deleteTeam" method="POST">
    <input type="hidden" id="team" name="team" value={{team._id}}>
    <input type="submit" value="Delete this team">
</form>