<h1>PokeSite</h1>
<h2>Search & save your favorite teams, movesets, and more</h2>

<div>
    <P>Pokemon Search</P>

    <form action="/searchPokemon" method="GET">
        <label for="pokemon">Enter name: </label>
        <input id="pokemon_name" type="text" name="pokemon_name">
        <input type="submit" value="Search">
    </form>
</div>


{{#if pokemon}}
    <h3 id="pokemon_list_name">Results: <img src="{{ sprite }}" align="middle"> {{ pokemon }}, pokedex #{{ num }}</h3>
    <form action="/savePokemon" method="POST">
        <input id="pokemon_save" type="hidden" name="pokemon_save" value="{{ num }}">
        <input type="submit" value="Click here to save this pokemon to a team">
    </form>
{{/if}}


{{> navigation}}