body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lemonchiffon;
}

a {
  color: #00B7FF;
}

.left {
    display:inline-block;
    float: left;
}

.right {
    display:inline-block;
    float: right;
}

.center {
    text-align: center;
}

ol {
    display:inline-block;
    float: left;
    padding: 20px;
}