body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lemonchiffon;
}

a {
  color: #00B7FF;
}

.left {
    display:inline-block;
    float: left;
    padding-left: 40px;
}

.right {
    display:inline-block;
    float: right;
    padding-right: 40px;
}

.center {
    text-align: center;
}

ol {
    display:inline-block;
    float: left;
    padding: 20px;
}

.index {
    display: inline-block;
    float: left;
    padding-top: 40px;
    padding-left: 175px;
    padding-right: 40px;
}

.move {
    padding-left: 175px;
}

.tab {
    padding-left: 40px;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}